<h1>Hacker News</h1>

<h3><a href="/login">Login to add a new post</a></h3>

<h3>Add a new post</h3>
<form action="/create_post" method="post">
  Name:<br>
  <input type="text" name="name"><br>
  Url:<br>
  <input type="text" name="url"><br>
  <input type="submit" value="Submit">
</form>

<% @posts.all.order("votes").reverse_order.each_with_index do |post, i| %>
  <form action="/upvote_post/<%= post.id %>" method="post">
    <h5><input type="submit" value="^"><a href="<%= post.url %>"><%= i + 1 %> - <%= post.name %> </a></h5>
  </form>
  <form action="/downvote_post/<%= post.id %>" method="post">
    <h6><input type="submit" value="v"><%= post.votes %> points</h6>
  </form>
<% end %>
